html, body {
    font-size: 16px;
    margin: 0.5;
    padding: 0.5;
}

p {
    font-family: "Merriweather";
    font-weight: 300;
    
}

h1, h2 {
    font-family: "Lato";
}

body {
    background-image: linear-gradient(to bottom right,white, silver);
}


.header {
    width: 100%;
    padding: 0px;
    text-align: left;
    background: chocolate;
    color: cornsilk;
    font-size: 20px;
    margin: 0px;
    border: solid black;
}

ul#header-links {
    font-family: "Lato";
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: black;
    text-align: center;
    

}

ul#header-links li {
    display: inline;
    text-decoration: none;
}

#header-links li {
    float: left;
    border: solid black;
    border-radius: 20px;
}

#header-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
#header-links li a:hover {
    background-color: chocolate;
}

#cover{
    text-align: center;
    
}



.coverimg {
    width: 604px;
    height:  453px;
    margin: auto;
    border: double black;

    background-image: url("images/steve4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
   
}




.btn-grp button {
    border: 1px  orangered;
    background-color: chocolate;
    height: 150px;
    width: 300px;
    position: relative;
    color: white;
    cursor: pointer;
    float: center;
    padding: 10px;
    font-size: 16px;
    font-family: "Lato";
    border: double black;
    border-radius: 15px;
}

.btn-grp button:hover {
    background-color: wheat;
}

.valero-btn {
    background-image: url("images/valero1.png");
    background-size: 200px auto;
    background-position: center;
    background-repeat: no-repeat;
}

.club-btn {
    background-image: url("images/Logo.png");
    background-size: 200px auto;
    background-position: center;
    background-repeat: no-repeat;
}

.pngimg {
    float: right;
    padding: 100px;
    margin: 20px;
    position: relative;
    top: -200px;
    
}

#footer {
    width: 100%;
    padding: 0px;
    text-align: left;
    background: chocolate;
    color: cornsilk;
    font-size: 20px;
    margin: 0px;
}

h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 300%;
    text-align: center;
    color: chocolate;
}

#top {
    background-image: linear-gradient(to bottom right,white, silver);
    width: 350px;
    border: outset chocolate;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.p1 {
    text-align: center;
    font-family: "Lato";
}

.org {
    color: chocolate;
    
}

.fam {
    color: chocolate;
}

.work {
    color: chocolate;
}

